.base {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.myToDoList {
    width: 20em;
    background-color: #d6a438;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.toDo {
    display: flex;
    margin-bottom: 10px;
}

.inputTask {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
    margin-right: 10px;
}

.list li {
    background-color: #c08e21;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li:hover .d-none {
    display: block !important;
}


